#about-window{
    display: none;
    width: 700px;
    max-height: 92vh;
    overflow-y: hidden;
    .window-content{
        @include flex-column;
        gap: 10px;
        .two-columns{
            width: auto;
            margin: 15px 25px 20px 25px;
            @include flex-row;
            justify-content: left;
            align-items:flex-start;
            gap: 25px;
            .photo { 
                .photo-container{
                    position: relative;
                    width:170px; 
                    height:170px; 
                    background: linear-gradient(0deg, rgba(97,240,41,1) 34%, rgba(194,242,175,1) 93%);
                    border-radius: 10% / 95% ;
                    border: 2px solid #8dac87;
                    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
                    color:white;
                    text-align:center; 
                    overflow: hidden;
                    @include flex-column;
                    img{
                        width: 100% - 12%;
                        position: absolute;
                        border-radius: 3%;
                        border: 1px solid rgb(88, 88, 88);
                    }
                    #circle{
                        position: absolute;
                        z-index: 100;
                        width: 200%;
                        height: 100%;
                        background-color: rgb(255, 255, 255, 0.2);
                        border-radius: 50%;
                        top: -45%;
                    }
                }
            }
            .status{
                justify-content: left;
                gap: 10px;
                width: 430px;
                .little-circle{
                    background-color: $primary-color;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
                }
            }
            .chat-box{
                cursor: initial;
                width: 430px;
                height: 173px;
                @include flex-column;
                align-items: center;
                position: relative;
                #chat-input {
                    padding: 5px;
                    cursor: text;
                    width: 420px;
                    flex: 1;
                    font-size: 16px;
                    color: #3a3a3a;
                    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
                    background-color: #ffff;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                #chat-buttons{
                    @include flex-row;
                    background: linear-gradient(0deg, rgba(191,215,239,1) 52%, rgba(204,234,249,1) 57%, rgba(238,246,254,1) 100%);
                    border: 1px solid rgb(206, 206, 206);
                    border-top: none;
                    width: 430px;
                    align-items: center;
                    justify-content: left;
                    #emoji-button {
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
                        @include flex-column;
                        justify-content: center;
                        img{
                            height: 23px;
                        }
                    }
                    #buzz-button{
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
                        @include flex-column;
                        justify-content: center;
                        img{
                            height: 23px;
                        }
                    }
                    #text-button{
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
                        @include flex-column;
                        justify-content: center;
                        font-family:'Times New Roman', Times, serif;
                        min-height: 30px;
                        background: #ffff;

                        padding: 0px 15px;
                        font-size: 16px;
                    }
                }
                .emoji-picker {
                    display: none;
                    position: absolute;
                    width: 420px;
                    border: 1px solid #ccc;
                    padding: 5px;
                    background-color: white;
                    height: 131px;
                    max-height: 131px;
                    overflow-y: auto;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    top: 0;
                    img{
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        margin: 2px;
                        /* Añadimos un margen para separarlos */
                        margin: 5px;
                        /* Añadimos un borde para una mejor visualización */
                        border: 1px solid transparent;
                        border-radius: 3px;
                        transition: border-color 0.3s;
                    }
                }
            }
        }
    }
}
