footer{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: linear-gradient(0deg, rgba(123, 181, 238, 0.7) 42%,  rgba(123, 181, 238, 0.7) 89%, rgba(190, 219, 248, 0.7) 97%);
    .taskbar{
        @include flex-row;
        justify-content: space-between;
        padding: 0px 10px;
        border: 1px solid #ffff;
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
        .windows{
            height: 55px;
        }
        div{
            list-style: none;
            @include flex-row;
            gap: 15px;
            text-decoration: none;
            color: #ffff;
            font-size: 18px;
            text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
            .container_date{
                display: flex;
                flex-direction: column;
                gap: 0;
                text-align: center;
                width: 110px;
            }
        }
    }
    
    
}