#cv-window{
    display: none;
    height:fit-content;
    width: 400px;
    .window-content{
        @include flex-row;
        padding: 10px 25px;
        height: 110px;
        .content{
            @include flex-column;
            margin: 0px 20px 0px 0px;
            width: 300px;
            justify-content: left;
            align-items: start;
            p{
                margin-bottom: 20px;
                margin-top: 0px
            }
            div{
                @include flex-row;
                width: 212px;
                justify-content: center;
                gap: 20px;
            }
        }
        img{
            width: 70px;
            filter: drop-shadow( 0px 0px 2px rgba(26, 25, 25, 0.5));
        }
    }
}

@media screen and (max-width: 768px){
    #cv-window{
        display: block;
        position: relative;
        width: 96%;
        margin: 2%;
        max-height: 1000vh;
        .window-content{
            flex-direction: column-reverse;
            padding: 10px;
            height: auto;
            gap: 10px;
            .content{
                margin: 0;
                justify-content: center;
                align-items: center;
                .two-columns{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:auto;
                    margin-top: 20px;
                }
                #dont-download-cv{
                    display: none;
                }
            }
        }
    }
    
}