/* COLORS */
$primary-color: #61f029;
$secondary-color: rgb(62, 177, 232);

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-weight: 100;
    font-size: 30px;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

h2{
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

p{
    font-size: 16px;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    color: #595a59;
}

input{
    font-size: 14px;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
    color: #595a59;
}

button{
    min-height: 30px;
    background: linear-gradient(0deg, rgba(211,216,218,1) 42%, rgba(238,238,238,1) 52%);
    border: 1px solid #595a59;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    padding: 0px 15px;
    font-size: 16px;
    @include flex-column;
    justify-content: center;
    align-items: center;
    &:hover{
        border-color: rgb(5, 93, 131);
        box-shadow: rgba(5, 93, 131, 0.5) 0px 0px 5px;
        background: linear-gradient(0deg, rgba(191,215,239,1) 42%, rgba(238,246,254,1) 52%);
        cursor: pointer;
    }
    img{
        height: 23px;
    }
}

.icon-button{
    padding: 3px;
}

span{
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
    text-align: center;
    padding-bottom: 5px;
}

.draggable{
    cursor: move;
    user-select: none;
    position: absolute;
    transition: box-shadow 0.2s ease;
    background: rgb(191,215,239);
    background: linear-gradient(0deg, rgba(191,215,239,1) 52%, rgba(204,234,249,1) 57%, rgba(238,246,254,1) 100%);
    border: 1px solid #595a59;
    border-radius: 15px;
    gap: 2px;
    width: 50%;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px;
    }
    .window-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 10px;
        height: 40px;
        overflow: hidden;
        .window-head-left{
            @include flex-row;
            gap: 5px;
            text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
            .icon-msn{
            width: 20px;
            }
        }
        .window-head-right{
            list-style: none;
            margin-top: 0px;
            margin-bottom: 15px;
            @include flex-row;
            padding-left: 0px;
            li{
                text-decoration: none;
                color: #ffff;
                font-weight: 400;
                font-size: 20px;
                text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
                background: rgb(191,215,239);
                background: linear-gradient(0deg, rgba(191,215,239,1) 52%, rgba(204,234,249,1) 57%, rgba(238,246,254,1) 100%);
                width: 45px;
                text-align: center;
                padding-bottom: 5px;
                border: 1.5px solid #4a4b4a;
            }
            .minimize{
                border-right: none;
                border-bottom-left-radius: 20%;
                &:hover{
                    background: linear-gradient(0deg, rgb(118, 202, 241) 52%,rgb(118, 202, 241) 57%, rgba(238,246,254,1) 100%);
                }
            }
            .maximize{
                border-right: none;
                &:hover{
                    background: linear-gradient(0deg, rgb(118, 202, 241) 52%,rgb(118, 202, 241) 57%, rgba(238,246,254,1) 100%);
                }
            }
            .close{
                border-bottom-right-radius: 20%;
                background: rgb(241,104,97);
                background: linear-gradient(0deg, rgba(241,104,97,1) 52%, rgba(246,148,143,1) 57%, rgba(246,191,188,1) 100%);
                &:hover{
                    background: linear-gradient(0deg, rgb(243, 51, 41) 52%, rgb(241, 67, 58) 57%, rgb(238, 124, 118) 100%);
                }
            }
        }
    }
    .window-content{
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 48%, rgba(190,231,248,1) 74%, rgba(95,196,238,1) 100%);
        border: 1.5px solid #4a4b4a;
        margin: 0px 10px 10px 10px;
        @include flex-row;
        overflow-x: hidden;
        .navbar{
            background: linear-gradient(0deg, rgba(62,177,232,1) 42%, rgba(113,191,225,1) 52%, rgba(150,208,233,1) 91%, rgba(211,235,245,1) 100%);
            box-sizing:border-box;
            @include flex-row;
            padding: 0px ;
            box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
            width:100%;
            height: 45px;
            ul{
                list-style: none;
                @include flex-row;
                gap: 30px;
                padding: 0px;
                li{
                    text-decoration: none;
                    color: #ffff;
                    font-size: 17px;
                    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
                }
            }
        }
    }
}

@keyframes buzz {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.buzz {
    animation: buzz 0.1s linear infinite;
}